# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
env/
venv/

# Ignore data and results
data/raw/
data/processed/
results/
**/data/
**.csv

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore OS and IDE files
.DS_Store
*.swp
.idea/misc.xml
.idea/vcs.xml
.idea/modules.xml
.idea/long_short_strategy.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/.gitignore
